<%= stylesheet_link_tag "index.css" %>

<h1>
    Blog Page
</h1>

<hr>

<% @blog.each do |blog|  %>
    <h5><u><%= blog.name %></u>:&emsp;</h5>
    <p class="blog">
        <%= blog.text %>
    </p>

<%end%>

<form action='/post' method='POST'>

    <input name='name' type='text' placeholder='Name'>
    <input name="text" type="numtextber" placeholder='Write here'>  
    <input type='submit'>

</form>


<p>
    <a href="team">Team Site</a>
</p>
<p>
    <a href="/">Home Site</a>
</p>