<html>

<head>
    <title>Index</title>
    <%= stylesheet_link_tag "index.css" %>
</head>

<body>
    <h1>
        Home Page
    </h1>

    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td><img src="assets/Football.jpg" width="200" height="200"></td>
            <td>Football</td>
            <td>$40</td>
            <td>Average quality leather football.</td>
            <td>314 in stock</td>
        </tr>
        <tr>
            <td><img src="assets/Soccerball.jpg" width="200" height="200"></td>
            <td>Soccerball</td>
            <td>$120</td>
            <td>The American version of the European football from adidas.</td>
            <td>420 in stock</td>
        </tr>
        <tr>
            <td><img src="assets/Basketball.jpg" width="200" height="200"></td>
            <td>Basketball</td>
            <td>$60</td>
            <td>Wilson basketball the cousin of the volleyball from Castaway teh movie.</td>
            <td>69 in stock</td>
        </tr>
        <tr>
            <td><img src="assets/Golfball.jpg" width="200" height="200"></td>
            <td>Golfball</td>
            <td>$3</td>
            <td>The best ball for breaking windows.</td>
            <td>911 in stock</td>
        </tr>
    </table>
    <p > 
        <a href="/team">Team Site</a> &emsp;&emsp;
        <a href="/blog">Blog Site</a> &emsp;&emsp;
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">The Best Site</a>
    </p>
</body>

</html>