<!DOCTYPE html>
<html>
  <head>
    <title>Webstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://cdn.bootstrap">
    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
